<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="java.sun.com/xml/ns/javaee" 
	xmlns:xsi="w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="java.sun.com/xml/ns/javaee java.sun.com/xml/ns/javaee/web-app_3_0.xsd" 
	version="3.0">

	<servlet>
		<servlet-name>hello</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/myapp-config.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>hello</servlet-name>
		<url-pattern>/helloworld/*</url-pattern>
	</servlet-mapping>
</web-app>